html {
  //text-align: center;
}

body {
  font-family: "Lato", sans-serif;
  //text-align: left;
  width: 300px;
  max-width: 300px;
  margin: auto;
  padding: 0px 0px 60px 0px;
}

.banner {
  display: block;
 width: 100%;
  margin: 30px auto 30px auto;
}

.heading {
  color: DarkGoldenRod;
  font-size: 1.15em;
}

a {
 display: table; 
  margin-bottom: 20px;
}

table {
  margin: 5px auto 10px auto;
 border-collapse: collapse; 
  border: 0px solid;
  width: 100%;
}

.smalltable {
  background: #D5F7D5;
  font-size: 0.9em;
}

td {
 border: 0px solid; 
}

blockquote {
  margin-top: 3px;
}
