html {
  text-align: center;
}

body {
  font-family: "Lato";
  
  width: 300px;
  max-width: 500px;
  margin: auto;
}

#banner {
 width: 300px;
  margin: 15px auto 15px auto;
}

table {
 border-collapse: collapse; 
}
