html {
  text-align: center;
}

body {
  font-family: "Lato";
  //text-align: left;
  width: 300px;
  max-width: 500px;
  margin: auto;
}

.banner {
  display: block;
 width: 300px;
  margin: 30px auto 30px auto;
}

table {
  margin: auto;
 border-collapse: collapse; 
  border: 0px solid;
}

td {
 border: 0px solid; 
}
